body {
    text-align: center;
}
h2{
    font-size: large;
    margin: 20px;
    font-family: candara, cusive;
    color: aliceblue;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.menu{
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    height: 50px;
    width: 1300px;
    background-color: #373737;
    align-items: center;
    position: relative;
    border-radius: 1px;
    box-shadow: 3px 3px black;
}
.primeira{
    width: 200px;
    height: 45px;
    background-color: #373737;
    font-family: candara;
    color: aliceblue;
    font-size: large;
    border: none;
    margin: 1px;
    display: inline-block;
}
.primeira:hover{
    background-color: #474747;
}
.cardapio{
    height: 512px;
    width: 1012px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: rgb(204, 207, 207);
    border-radius: 1px;
    border-color: #373737;
    border-style: groove;
    border-width: 10px;
    font-family: candara;
    font-size: larger;

}
.destaque{
    margin-bottom: -100px;
}
.cardapio{
    margin-bottom: 50px;
}
li{
    margin: 12px;
}
.part1{
    float: left;
    border-style: double;
    width: 500px;
    height: 505px;
    font-weight: 800;
    text-align: left;
    position: absolute;
}
.part2{
    width: 500px;
    height: 505px;
    float: right;
    border-style: double;
    font-weight: 800;
    display: block;
    text-align: left;
}
.post{
    display: inline-block;
    background-color: #373737;
    width: 1300px;
    height: 500px;
    box-shadow: 3px 3px black;
    vertical-align: top;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/view/cozinha.png);
    background-size: 150px;
}
.img{
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: background-image 2s;
    border: 2px solid #474747;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.botao {
    width: 35px;
    height: 200px;
    position: absolute;
    margin: auto;
    opacity: 0.3;
    background-color: #474747;
    border: none;

}
.botao:hover{
    opacity: 5;
}
.botaovolta {
    position: flex;
    margin-top: 100px;
    margin-right: 98%;
    margin-bottom: 100px;
    vertical-align: top;
    display: inline-block;
}
.botaoavanca {
    position: absolute;
    display: inline-block;
    margin-left: 92%;
} 
.rodape{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
/*.chef {
    position: absolute;
    margin-left: 15%;
    margin-top: 13%;
 
}/*
