<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href = "">
        <link rel="stylesheet" href="css/estilo.css">
        <title>bar e restaurante</title>
        <script src = "index.js"></script>
    </head>
    <body>
        <div class = "logo">
            <img src = "logo.png"/>
        </div>
        <div class = "menu">
            <div class="primeira">
                <p>Menu</p>
            </div>
            <div class="segunda">
                <p>Cardápio</p>
            </div>
            <div class="terceira">
                <p>Promoções</p>
            </div>
            <div class="quarta">
                <p>Publicações</p>
            </div>
            <div class="quinta">
                <p>Pedidos</p>
            </div>
            <div class="sexta">
                <p>Contato</p>
            </div>
        </div>
        <div class = "destaque">
            <img src="comida.jpg">
        </div>
        <div class = "cardapio">
            <h1>Aqui e onde vai ficar o cardapio</h1>
        </div>
        <div class = "post">
            <h1>Aqui e onde vai ficar os posts</h1>
        </div>
    </body>